@model IEnumerable<PapugarniaOnline.Models.Parrot>

@{
    ViewData["Title"] = "Our Parrots";
}
<hr />
<div class="nagl">Nasi pupile </div>

@if (User.Identity.Name == "b.longota2@wp.pl")
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
    <table class="table">
        <thead>
            <tr style="background-color:antiquewhite">
                <th>
                    @Html.Label("Ilość")
                </th>
                <th>
                    @Html.Label("Opis")
                </th>
                <th>
                    @Html.Label("Gatunek")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KindOfParrot.Name)
                    </td>
                    @if (User.Identity.Name == "b.longota2@wp.pl")
                    {
                        <td>

                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
